body {
  height: 100vh;
  overflow: hidden;
}
table {
  table-layout: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 20rem);
  max-width: calc(100vw - 10rem);
}

.bg {
  background-image: url(http://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/28735/xlarge_web.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.close {
  color: rgb(255, 255, 255);
  text-shadow: rgb(55, 55, 58) 0px 1px 0px;
}

#header {
  padding-top: 20%;
  padding-bottom: 20%;
}
#header.moving {
  padding-top: 3rem;
  transition-property: padding;
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.1, 0.8, 0.22, 1);
}

nav.transparent {
  background: rgba(0, 0, 0, 0.75);
}

.form-control {
  color: rgb(255, 255, 254);
  background-color: rgb(55, 55, 58);
  border-top-color: rgb(95, 103, 110);
  border-right-color: rgb(95, 103, 110);
  border-bottom-color: rgb(95, 103, 110);
  border-left-color: rgb(95, 103, 110);
}

.modal-content {
  background-color: rgb(55, 55, 58);
  border-top-color: rgba(153, 151, 147, 0.2);
  border-right-color: rgba(153, 151, 147, 0.2);
  border-bottom-color: rgba(153, 151, 147, 0.2);
  border-left-color: rgba(153, 151, 147, 0.2);
  outline-color: initial;
}

.form-text {
  color: rgb(255, 255, 254);
}

::placeholder {
  color: rgb(255, 255, 254);
}

/* -------------------------------------------------------------------- */
